.section__cards--title {
    margin: 1vw 8vw 0;
    color: rgba(0, 0, 0, .5);
    font-size: 3vw;
}

.section__cards--img {
    margin: 2vw auto 0;
    width: 50vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 1vw;
}

.section__cards--classification {
    margin: 0 auto;
    color: rgba(0, 0, 0, .25);
    font-size: 1vw;
}

.section__cards--ingredients-title,
.section__cards--instructions-title {
    margin: 3vw 0 0 8vw;
    color: rgba(0, 0, 0, .5);
    font-size: 2vw;
}

.section__cards--ingredients-list {
    margin: 1vw 8vw 0;
    color: rgba(0, 0, 0, .8);
    font-size: 1vw;
}

.section__cards--ingredients-list li {
    text-transform: capitalize;
}

.section__cards--instructions-description {
    margin: 1vw 8vw 0;
    color: rgba(0, 0, 0, .8);
    font-size: 1vw;
    text-align: justify;
}

.section__cards--instructions-video {
    margin: 3vw auto;
    width: 50vw;
    height: 28.125vw;
    border-radius: 1vw;
}